<o-grid #grid cols=3 title="{{ 'CUSTOMERS' | oTranslate }}" attr="customersTable" service="customers" entity="customer"
  keys="CUSTOMERID" columns="CUSTOMERID;ID;PHOTO;NAME;SURNAME;STARTDATE;EMAIL"
  visible-columns="ID;PHOTO;NAME;SURNAME;STARTDATE;EMAIL" pagination-controls="false" orderable=yes
  sortable-columns="NAME;EMAIL" show-page-size="yes" page-size-options="24;32;64">
  <o-grid-item *ngFor="let list of grid.dataArray">
    <o-column layout-padding class="container-item">
      <o-image attr="employeeImage" empty-image="assets/images/no-image.png" style="margin-top:8px" data={{list.PHOTO}}>
      </o-image>
      <h4> {{list.NAME}} {{list.SURNAME}}</h4>
      <div class="ID">
        <mat-icon>account_circle </mat-icon><span>{{ list.ID }} </span>
      </div>
      <div class="email">
        <mat-icon>email </mat-icon><span>{{ list.EMAIL }}</span>
      </div>
      <div class="date">
        <mat-icon>calendar_today </mat-icon><span>{{ list.STARTDATE }} </span>
      </div>
    </o-column>
  </o-grid-item>
</o-grid>